<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiche.bigdata.mapper.BusinessLineMapper" >

  <select id="getAllDepartment" parameterType="java.lang.String" resultType="java.lang.String" >
    SELECT
      distinct(department)
    FROM business_line_user
    WHERE business_line = #{businessLine,jdbcType=VARCHAR};
  </select>

</mapper>